<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <!-- for carousel -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
     
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include("reuseable/navbar") %>

    <div>

        <!-- slider -->
        <section id="slider">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-indicators">

                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>

                    <% if(product.images[1]){ %>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                    <% } %>

                    <% if(product.images[2]){ %>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
                    <% } %>

                    <% if(product.images[3]){ %>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
                    <% } %>

                    <% if(product.images[4]){ %>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></button>
                    <% } %>

                </div>

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="<%= product.images[0] %>"/>
                    </div>

                    <% if(product.images[1]){ %>
                    <div class="carousel-item">
                        <img src="<%= product.images[1] %>"/>
                    </div>
                    <% } %>

                    <% if(product.images[2]){ %>
                    <div class="carousel-item">
                        <img src="<%= product.images[2] %>"/>
                    </div>
                    <% } %>

                    <% if(product.images[3]){ %>
                    <div class="carousel-item">
                        <img src="<%= product.images[3] %>"/>
                    </div>
                    <% } %>

                    <% if(product.images[4]){ %>
                    <div class="carousel-item">
                        <img src="<%= product.images[4] %>"/>
                    </div>
                    <% } %>

                </div>
            </div>
        </section>

        <div class="details-outer">
            <div class="details-holder">
                <div>
                    <h5><%= product.name %></h5>
                    <h6>Category: t-shirt</h6>
                </div>
                <h2>₹<%= product.price %></h2>
            </div>

            <div class="desc-holder">
                <h2>Description</h2>
                <h6 class="description"><%= product.description %></h6>
            </div>

            <div class="size-color">
                Size 
                <select class="size" name="size" id="size">
                    <option value="none" selected disabled hidden>Size</option>
                    <% product.sizes.forEach((size)=>{ %>
                        <option value="<%= size %>"><%= size %></option>
                    <% }) %>
                </select>
                Color
                <select class="color" name="color" id="color">
                    <option value="none" selected disabled hidden>Color</option>
                    <% product.colors.forEach((color)=>{ %>
                        <option value="<%= color %>"><%= color %></option>
                    <% }) %>
                </select>
            </div>
        </div>


    </div>

    <div class="buy-link-holder">
        <a class="disabled" id="buy-link" href="/products/<%= product.name %>/buy?size=&color=">
            <div class="btn btn-fill">Buy Now</div>
        </a>
    </div>

    <%- include("reuseable/footer") %>
    
    <script>
        var sizeChosen = false;
        var colorChosen = false;

        document.querySelector('#size').addEventListener('change',(el)=>{
            var href =  document.querySelector('#buy-link').href;
            var queryIndex = href.indexOf('?');
            var sizeIndex = href.indexOf('size',queryIndex);
            var colorIndex = href.indexOf('color',queryIndex);
            document.querySelector('#buy-link').href = href.substring(0,sizeIndex + 5) + el.target.value +  href.substring(colorIndex - 1,href.length);
            sizeChosen = true;

            if(sizeChosen && colorChosen){
                document.querySelector('#buy-link').classList.remove('disabled');
            }
        });

        document.querySelector('#color').addEventListener('change',(el)=>{
            var href =  document.querySelector('#buy-link').href;
            var queryIndex = href.indexOf('?');
            var colorIndex = href.indexOf('color',queryIndex);
            document.querySelector('#buy-link').href = href.substring(0,colorIndex + 6) + el.target.value;
            colorChosen = true;

            if(sizeChosen && colorChosen){
                document.querySelector('#buy-link').classList.remove('disabled');
            }
        });

        document.querySelector('.buy-link-holder').addEventListener('click',(el)=>{
            if(document.querySelector('#buy-link').className == "disabled"){
                alert('please select size and color');
            }
        });
    </script>
</body>
</html>



















