<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d61c77e956.js" crossorigin="anonymous"></script>

    <!-- for carousel -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="css/orders.css">
</head>

<body>
    
    <%- include('../reuseable/navbar'); -%>

    <h1 class="heading">Order History</h1>

    <% orders.reverse().forEach((order)=>{ %>
        <div class="order">
            <img src="<%= order.thumbnail %>">
            <div class="order-inner">
                <div class="details-holder">
                    <span>
                        Item: <%= order.item %>
                    </span>
                    <span>
                        Order NO: <%= order.orderNo %>
                    </span>
                </div>
                <a href="/orders/<%= order.orderNo %>" style="color: white;" class="btn btn-fill">Details</a>
            </div>
        </div>
    <% }) %>

    <%- include('../reuseable/footer'); -%>
</body>
</html>